@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	margin: 0px;
	padding: 0px;	
}

body {
	height: 100vh;
	background: black url("../img/bg.jpg") center center no-repeat fixed;
	background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body .ui-panel .ui-panel-content {
	max-width: 1200px; 
	min-height: 400px;
	margin: 0px auto 20px auto;
	padding: 0px;
	
}

body .ui-panel>div:last-of-type {	
	border-radius: 10px;
	box-shadow: 2px 6px 10px #bdc4ca;
}

 .container-p-projeto {
	padding-top: 70px;
}

.title_projeto { 
	background-color: #89c156; 
	color: white; 
	padding: 15px 35px 5px 10px; 
	margin: 15px 5px 5px 20px; 
	border-radius: 15px 0px 15px 0px; 
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	box-shadow: 1px 3px 5px #bdc4ca;
}

.container-descricao {	
	margin: 0px 20px 40px 20px;
	padding: 30px 35px;
	text-align: center;
	box-shadow: 1px 3px 8px #bdc4ca;
	border-radius: 5px;
	background: #fbfef3;
	
}

.descricao {
	display: block;
	font-size: 1.4rem;
	text-indent: 3em;
	text-align: justify;
}

body .ui-fieldset .ui-fieldset-legend {
	background: #89c156;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-size: 1.3rem;
	padding: 10px 35px;
}

body .ui-fieldset-toggleable .ui-fieldset-legend {	 
	text-align: left;
	padding: 5px 10px;
	background: #aed18d;
}

body .ui-fieldset-toggleable {
	box-shadow: none !important;
	min-height: 10px !important; 
	margin: 20px 0px 0px 15px !important; 
	background: #fff !important;
}

body .ui-fieldset .ui-fieldset-legend.ui-state-hover {
	background: #89c156;
    border-color: #b5e38b;
    color: #fff;	
}

body .ui-fieldset .ui-fieldset-legend.ui-state-hover .ui-icon {	
    color: #fff;
}

body .ui-fieldset {
	border-radius: 5px;
	min-height: 650px;
	border: none;
	margin: 0px;
	background: #f2fee8 url("../img/dashboard-bemvindo-fundo.png") center center no-repeat scroll;
	box-shadow: 2px 6px 10px #bdc4ca;
	padding: 5px 5px 15px 5px;
}

body .ui-toolbar {
	margin: 0px 5px;
	border: none;
	background: #f2fee8;
	color: #fff;
}

.button-novo {
	margin-right: 10px;
}

body .ui-datascroller .ui-datascroller-header {
	background-color: #aed18d;
	margin: 0px 5px;
	border-radius: 5px 5px 0px 0px;
	font-size: 1.3rem;
	color: #fff;	
	padding: 5px;
}

body .ui-datascroller .ui-datascroller-content {
	padding: 15px 5px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	margin: 0px 5px;
	background-color: #F7F8F9;		
}

body .ui-panelgrid .ui-panelgrid-cell {
	background: #f2fee8;
}

body .ui-card .ui-card-body {
	padding: 10px 5px 5px 5px;
}

body .ui-card .ui-card-content {
	padding: 0px 5px;
}

.container-tag {	
	margin-bottom: 7px;	
	min-width: 10px;
}

.tag-style {	
	padding: 2px 15px 2px 15px;
	border-radius: 5px;
	margin-right: 5px;
}

body .ui-commandlink {
	text-decoration: none;
}

body .ui-commandlink .ui-state-hover {
	text-decoration: none;
	background: #b5e38b;
}

a:-webkit-any-link {
	text-decoration: none;
}


a:-webkit-any-link:hover{
	text-decoration: none;
}

.card-title {
	margin-top: 20px;
}

.title-tarefa {
	font-size: 1.1rem;
	text-align: justify;
}

body .ui-button {	
	background-color: #89c156;
	border: 1px solid #89c156;
}

body .ui-button.ui-state-hover {
    background: #b5e38b;
    border-color: #b5e38b;
    color: #fff;
}

body .ui-button.ui-state-active {
    background: #b5e38b;
    border-color: #b5e38b;
    color: #fff;
}

.ui-button .ui-button-text {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}


.cb-projeto-dashboard {
	position: relative;
	float: right;
	margin: 15px 15px 0px 0px !important;
	
}

span.ui-button-icon-left.ui-icon.ui-c.pi.pi-chevron-left {
	font-weight: bold;
}

.pg-ds-tamanho-coluna {
	width: 100%;
}

body .ui-panelgrid .ui-panelgrid-cell {
	border: none;
	padding: 0px;	
}

body .ui-card {
	margin-bottom: 8px;
}

div.field {
	margin-bottom: 15px;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
}

.ui-fluid .ui-inputtext {
	margin-top: 5px;
}

.ui-fluid .ui-inputtextarea {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.botao-tag {	
	display: inline-block;
	margin-left: 5px;
}

div.botoes-confirmar-cancelar-separar-projeto {
	margin-right: 237px;
	display: inline-block;
}

div.botoes-confirmar-cancelar-separar-tag {
	margin-right: 145px;
	display: inline-block;
}

div.botoes-confirmar-exclusao-separar {
	margin-right: 25px;
	display: inline-block;
}

div.botoes-confirmar-exclusao-participante {
	margin-right: 172px;
	display: inline-block;
}

body .ui-dialog .ui-dialog-footer button{
	margin: 0px;
}
body .ui-widget {
	font-family: 'Open Sans', sans-serif;
}

body .ui-widget .negrito {
	font-weight: bold;
}

.coluna-botoes {
	width: 7rem;
	text-align: center; 
}

td {
	vertical-align: top;
}

.ui-outputlabel .ui-outputlabel-rfi {
	margin: 0px;
}

body .ui-datatable thead th {
	color: #fff;
	background: #fff;
	padding: 0rem;
	border: none;
}

body .ui-datatable .ui-datatable-data .ui-datatable-even {
	background-color: #fff;
}

body .ui-datatable .ui-datatable-data>tr>td {	
	text-align: left;
	vertical-align: middle;	
	border: none;	
	padding: 10px 5px 10px 5px;
}

.ui-datatable-tablewrapper {
	border-radius: 8px;
}

body .ui-dialog .ui-dialog-content {
	padding: 15px;
}

.coluna-tipo-p {
	width: 110px;
}

.coluna-botao-p {
	width: 55px;
}

.botoes-inserir-cancelar-adicionar-participados {
	margin-right: 134px;
	display: inline-block;
}

.ui-growl {
	z-index: 999999 !important;
}

div.container-descricao .descricao-codigo-criador {
	text-align: right !important; 
	font-weight: bold;
}

 .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
 	min-height: 10px;
 }
 
 .ui-panelgrid-cell .ui-g-12 .ui-md-3 {
 	min-height: 10px;
 }
 
.tamanho {
	height: 30px; 
    width: 50px;    
	border-radius: 5px;  
	margin: 1px; 
}

.tamanho-display {
	height: 40px; 
    width: 250px;    
	border-radius: 5px;  
	margin: 1px;
}

.border {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid white;	
}

.border-display {
	display: inline-block;
	background-color: white;
	border-radius: 5px;	
}

.border:focus {
	border: 2px solid black;
	border-radius: 5px;	
}

.container-display-cor {
	text-align: center;
	height: 80px;
	padding: 19px;
}

.container-cores {
	padding: 2px;
}

.ui-md-4 {
	text-align: center;
	width: 16%;
	padding: 0px 5px;
}

body .ui-dataview .ui-dataview-header {
	display: none;
}

.ui-dataview-column .ui-g-12 .ui-md-4 {
	padding: 2px 5px;
}

body .ui-inplace .ui-inplace-display {
	padding: 0px;
}

.ui-fluid .ui-selectonemenu {
	margin-top: 5px;
	width: 53%;
}

.ui-fluid .ui-calendar {
	margin-top: 5px;
}

.div-tamanho {
	height: 34px;
	width: 470px;
	background: white;
	display: flex;	
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2px;
}

.pg-tamanho-cell {
	height: 50px;
	width: 105px;
	background: white;
	display: inline-block;	
}

.cor-tag-esq {
	height: 26px;
	width: 200px;
	background: black;
	border-radius: 5px;
}

.ui-fluid .ui-selectonelistbox, .ui-fluid .ui-selectmanymenu {	
	display: inline-block;
}

.ui-selectmanycheckbox.ui-widget td {
	background: white;	
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

body .ui-chkbox {
	height: 2.0rem;
}

.ui-fluid .ui-calendar {
	width: 30%;
}

.ui-fluid .ui-calendar input {
	width: 95%;
}

.block {
	display: block;
}

.tarefaAtrasada {
	background-color: #CA3521;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
}

.container-atrasada {	
	margin: 5px 0px;
}

.tarefaAtrasadaCard {
	background-color: #CA3521;
	padding: 2px 15px;
	border-radius: 5px;
	color: white;
}







 
 



























































