@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;	
}

body {
	height: 100vh;
	background: black url("../img/bg.jpg") center center no-repeat scroll;
	background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

div#div-login {
	width: 300px; 
	margin: 0 auto 1% auto;
	padding-top: 10%;
}

.titulo-login {
	font-weight: bold;
	text-align: center;
}

body .ui-panel>div:last-of-type {
	border-radius: 10px;
	box-shadow: 2px 6px 10px #bdc4ca;
}

div.logo-login {
	display: flex; 
	justify-content: center;
	margin: 5px 5px 15px 5px;
}

body .ui-divider.ui-divider-horizontal {
	background-color: #bef28d; height: 2px;
}

div.field {
	margin-bottom: 10px;
}

body .ui-inputfield {
	margin-top: 5px;
}

body .ui-button.ui-button-text-only .ui-button-text {
	font-weight: bold;
}

body .ui-button {	
	background-color: #89c156;
	border: 1px solid #89c156;
	margin: 5px 0px 10px 0px;
}

body .ui-commandlink, body .ui-link {
	color: #81b94e;
	text-shadow: 1px 6px 10px #bdc4ca;
}

 .cadastro-login {
	padding: 15px 0px 5px 0px;
	
}

